* {
  font-family: 'Poppins', sans-serif;
}

main {
  background: #dfdfde;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.header-list a {
  text-decoration: none;
}

.header-list li {
  list-style: none;
}

.logo img {
  height: 60px;
}

.display-list-of-shows {
  max-width: 82%;
  display: flex;
  flex-wrap: wrap;
}

.shows-container {
  display: flex;
  justify-content: center;
}

.display-show {
  margin: 12px;
  background-color: white;
  padding: 8px;
}

.display-show img {
  width: 400px;
  height: 500px;
}

.comment-btn {
  width: 100%;
}

.button_p {
  text-align: right;
}

.close-button {
  border: none;
  background: none;
  font-size: 35px;
  
  color: indianred;
}

.pop-up {
  display: flex;
  justify-content: center;
}

.pop-up-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}


.detail_container {
  display: flex;
  justify-content: space-around;
}

.display-popup-show {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  
}


.like-comment-btns span {
  font-size: 25px;
}

.show-title {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 22px;
}

.like-heart {
  text-decoration: none;
}

footer {
  border: solid #000 1px;
  padding-left: 2%;
  font-weight: bold;
}

.hide {
  display: none;
}

.comment_container {
  padding-left: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 80%;
  border: solid rgb(54, 54, 54) 0.5px;
  border-radius: 8px;
  padding: 1%;
}

.submit_button {
  background: rgb(16, 16, 212);
}

@media (min-width: 481px) and (min-width: 768px) {
  .detail_container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }
  .pop-up-img img {
    object-fit: cover;
    width: 100%;
    height: 580px;
  }
  
}

@media (max-width: 768px) and (max-width: 1100px) {
  .pop-up-img img {
    object-fit: fill;
    width: 100%;
    height: 580px;
  }
}