* {
  font-family: 'Poppins', sans-serif;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.header-list a {
  text-decoration: none;
}

.header-list li {
  list-style: none;
}

.logo img {
  height: 60px;
}

.display-list-of-shows {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

.display-show {
  width: 33%;
  padding-bottom: 40px;
}

footer {
  border: solid #000 1px;
  padding-left: 2%;
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.hide {
  display: none;
}
